@page
@model Recept.Pages.Read.HozzavalokModel
@{
    var jwtToken = PageContext.HttpContext.Request.Cookies["myJwtCookie"];
}


<h2>Hozzávalók</h2>


<p>
    <a asp-page="/Create/CreateHozzavalo">Új Hozzávaló létrehozása</a>
</p>

<form method="post" onsubmit="saveCheckboxState()">
    <div>
        <label for="includeDeletedCheckbox">Törölt elemek mutatása</label>
        <input type="checkbox" id="includeDeletedCheckbox" />
        <input type="hidden" name="IsDeleted" id="isDeletedInput" />
        <input type="hidden" name="JwtToken" id="jwtTokenInput" value="@jwtToken" />
        <button type="submit">Szűrés</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Mennyiség (db)</th>
            <th>Mértékegység (ml)</th>
            <th>Alapanyag</th>
            <th>Csoport</th>
            <th></th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hozzavalo in Model.Hozzavalok)
        {
            <tr>
                <td>@hozzavalo.Id</td>
                <td>@hozzavalo.Nev</td>
                <td>@hozzavalo.Mennyiseg</td>
                <td>@hozzavalo.Mertekegyseg</td>
                <td>@await Model.GetAlapanyagbyId(hozzavalo.AlapanyagId)</td>
                <td>@await Model.GetCsoportNevById(hozzavalo.CsoportId)</td>
                <td>
                    @if (!hozzavalo.Deleted)
                    {
                    <td>
                        <a asp-page="/Update/UpdateHozzavalo" asp-route-id="@hozzavalo.Id">Szerkesztés</a> |
                        <a asp-page="/Delete/DeleteHozzavalo" asp-route-id="@hozzavalo.Id">Törlés</a>
                    </td>
                    }
                    else
                    {
                        <span>Törölt</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function saveCheckboxState() {
        var isChecked = document.getElementById('includeDeletedCheckbox').checked;
        document.getElementById('isDeletedInput').value = isChecked;
    }

    // A JWT token küldése a szerver felé a formmal együtt
    var jwtToken = document.getElementById('jwtTokenInput').value;
    document.getElementById('jwtTokenInput').value = jwtToken;
</script>