@page
@model Recept.Pages.Read.ReceptekModel
@{
    @inject Microsoft.Extensions.Logging.ILogger<ReceptekModel> Logger

}
@using Recept.Entity.Generated;

<h2>Receptek</h2>

@using System.Security.Claims

<a asp-page="/Create/CreateReceptek">Recept Létrehozása</a>

<form method="get" asp-page="/Read/Receptek">
    <input type="hidden" name="CsakKedvencek" value="@(Model.CsakKedvencek ? "false" : "true")" />
    <button type="submit">@(!Model.CsakKedvencek ? "Csak kedvencek" : "Összes recept")</button>
</form>

<form method="post" asp-page="/Read/Receptek">
    <label for="kivalasztottAlapanyag">Válassz alapanyagot:</label>
    <select id="kivalasztottAlapanyag" name="KivalasztottAlapanyag">
        <option value="">-- Válassz alapanyagot --</option>
        @foreach (var alapanyag in Model.OsszesAlapanyag)
        {
            <option value="@alapanyag">@alapanyag</option>
        }
    </select>
    <button type="submit">Szűrés Alapanyag szerint</button>
</form>


<form method="post" onsubmit="saveCheckboxState()">
    <div>
        <label for="includeDeletedCheckbox">Törölt elemek mutatása</label>
        <input type="checkbox" id="includeDeletedCheckbox" />
        <input type="hidden" name="IsDeleted" id="isDeletedInput" />
        <button type="submit">Szűrés</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cím</th>
            <th>Leírás</th>
            <th>Hozzávalók</th>
            <th>Allergének</th>
            <th>Elkészítési Idő (Perc)</th>
            <th>Kedvenc</th>
            <th></th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recept in Model.Receptek)
        {
            <tr>
                <td>@recept.Id</td>
                <td>@recept.Cim</td>
                <td>@recept.Leiras</td>
                <td>
                    @foreach (var hozzavalo in await Model.GetHozzavalokByReceptIdAsync(recept.Id))
                    {
                        <li>@(hozzavalo.Nev)</li>
                    }
                </td>
                <td>
                    @foreach (var allergen in await Model.GetAllergenekByReceptIdAsync(recept.Id))
                    {
                        <li>@allergen.Nev</li>
                    }
                </td>
                <td>@recept.ElkeszitesiIdo</td>
                <td>
                    @{
                        var felhasznaloId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                        var isKedveltRecept = Model.IsReceptKedvelt(recept.Id, felhasznaloId);
                        var buttonText = isKedveltRecept ? "Kedvencekből törlés" : "Kedvencekhez adás";
                        var handler = isKedveltRecept ? "RemoveFromFavorites" : "ToggleKedvenc";
                        var buttonColor = isKedveltRecept ? "red" : "green";
                    }

                    <form method="post" asp-page="/Read/Receptek" asp-page-handler="@handler">
                        <input type="hidden" name="receptId" value="@recept.Id" />
                        <input type="hidden" name="jwtToken" value="ReceivedToken" /> 
                        <button type="submit">@buttonText</button>
                    </form>
                </td>
                <td>
                    @if (!recept.Deleted)
                    {
                    <td>
                        <a asp-page="/Update/UpdateRecept" asp-route-id="@recept.Id">Szerkesztés</a> |
                        <a asp-page="/Delete/DeleteRecept" asp-route-id="@recept.Id">Törlés</a>
                    </td>
                    }
                    else
                    {
                    <span>Törölt</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function saveCheckboxState() {
        var isChecked = document.getElementById('includeDeletedCheckbox').checked;
        document.getElementById('isDeletedInput').value = isChecked;
    }
</script>
